@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<section class="manage-account-wrapper">
    <div class="content">
    <div class="manage-account-content">


<div>
            <h2 style="margin-left: 35%; margin-bottom: 2rem;">Change your account settings</h2>
    <hr />
    <div class="row gx-5">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-6 manage-profile">
            @RenderBody()
        </div>
    </div>
        </div>
</div>
    </div>
</section>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
