@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="login-content">
<div class="row justify-content-center">
        
        <h2 style="font-size: 2rem; margin-bottom: 2rem; margin-top: 3rem; padding: 0 22rem;">Enter your email.</h2>
    <div class="col-lg-5">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
            <div class="form-floating" style="margin-bottom: 1.5rem;">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" style="max-height: 3rem;" />
               
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
