*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /*border: 1px solid red !important;*/
}

.html {
    background-color: black;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    color: lightgray;
}

#nav-bar {
    background-color: rgba(29, 29, 54, .5)
}

.content {
    margin: 0% 12%;
    color: whitesmoke;
}

.login-content, .register-content {
    margin: 0% 20%;
    color: whitesmoke;
}

.content-background {
    background-color: rgba(8, 18, 46, 0.9);
}


.left {
    background-color: #2ecc71;
    text-align: center;
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0px;
    width: 75%;
    overflow-y: scroll;
}

.span3 {
    height: 60px !important;
    overflow: scroll;
}

.panel-heading {
    display: block;
    max-block-size: 300px;
    overflow-y: scroll !important;
    text-overflow: clip;
}

.content-header {
    background-color: rgba(8, 18, 46, 0.9);
    width: 100%;
    min-height: 100%;
}

.all-animes, .manage-account-wrapper, .register-wrapper, .login-wrapper {
    min-height: 60vw;
    padding-top: 3rem;
}

.login-wrapper {
    min-height: 100vh;
}

.register-wrapper {
    min-height: 100vh;
}

.col-md-4 {
    margin-left: 420px;
}

.all-anime-img {
    object-fit: cover;
    width: 92%;
    height: 82%;
}

/*Single Page details*/
.anime-details {
    display: grid;
    grid-template-columns: 19% 1fr;
    grid-gap: 2%;
    grid-template-rows: 345px 1fr 300px;
    padding-bottom: 25px;
}

.anime-container {
    padding-top: 1rem;
}

.single-anime-cover {
    margin-top: -130px;
}

.gutter-increase {
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 35px;
}

img {
    border-radius: 3px;
}

.single-anime-name {
    font-size: 1.7rem;
    font-weight: 600;
    margin-top: 1rem;
    letter-spacing: -0.5px;
    margin-left: 0;
}

.single-anime-sypnosis {
    font-size: 1rem;
}

.single-anime-alternative {
    font-size: 0.9rem;
    margin-bottom: 1.4rem;
    margin-left: 0;
}

.banner {
    min-width: 100%;
    margin-top: -5%;
}

.single-character-banner {
    width: 100%;
    height: 210px;
    border-radius: 0;
    margin-top: -60px;
    background-color: rgba(0, 10, 37, 0.9);
}

.single-character-wrapper {
    background-color: rgba(8, 18, 46, 0.9);
}

.single-character-details {
    font-size: 16px;
    margin: 40px 20px;
    font-style: normal;
}

.single-anime-title-sypnosis {
    padding: 10px 10px
}

#single-character-name {
    margin: 20px 20px;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    max-height: 2rem;
}

.add-list {
    background-color: #42a4f5;
    font-size: 14px;
    color: white;
}

.favorite {
    padding: 0;
    width: 30px;
    background-color: #ff4d4d;
    border-radius: 4px;
    color: black;
}

.favorite-icon {
    stroke: black;
    fill: #F0F8FF;
    width: 22px;
    height: 22px;
    padding-bottom: 3px;
}

#character-name {
    color: lightgray;
}

.character {
    background-color: rgba(21, 41, 76, 0.9)
}

.characters-recommendation {
    background-color: rgba(21, 41, 76, 0.9);
}

.character-img {
    width: 52px;
    height: 72px;
    border-radius: unset;
}

.related-anime {
    margin-left: 30%;
}

.box {
    box-sizing: border-box;
    border: 10px solid transparent;
    background-clip: padding-box;
}

#character-name {
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 2px;
}

.character-details {
    margin-left: 6px;
    color: darkgray;
}

.character-details a:hover {
    text-decoration: none;
}

.staff {
    font-size: 10px;
    margin-top: 20px;
    margin-left: 0;
}


.character-role {
    font-size: 10px;
    font-style: italic;
    margin-top: 2px;
}



.profile-header {
    display: grid;
    grid-template-columns: 240px 300px 1fr;
    gap: 30px;
}

.profile-picture-img {
    width: 240px;
    margin-top: -100px;
}

.profile-banner {
    width: 100%;
    height: 210px;
    border-radius: 0;
    margin-top: -60px;
    background-color: rgba(8, 18, 46, 0.9);
}

.profile-list-banner {
    background-color:
}

.profile-shorcuts {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    margin-left: 300px;
    background-color: dimgray;
}

.anime-overview {
    display: flex;
    flex-direction: column;
}

.profile-anime-list-details {
    display: flex;
    font-size: 18px;
}

.latest-activities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 15px;
    column-gap: 20px;
}

.anime-activity {
    display: grid;
    grid-template-columns: 70px auto;
    gap: 10px;
}

.anime-activity-img {
    width: 70px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% + .2rem);
    background-color: transparent;
    border: none;
    border-radius: unset;
    width: 140px !important;
    padding: 0;
}

.dropdown-menu > * {
    color: whitesmoke;
    background: rgba(8, 18, 46, 0.9);
    width: 140px !important;
}

.add-list-button {
    width: 140px;
    border: 1px solid #3498db;
    background: rgba(21, 41, 76, 0.7);
    font-size: 0.9rem;
    padding: 0.2rem 0.8rem;
    color: whitesmoke;
    margin: 0;
    transition: 0.4s;
    border-radius: 6px;
    margin-bottom: 2px;
}

.add-list-button:hover {
    color: #3498db !important;
    border-color: #3498db !important;
}












.recommendation-anime-img {
    max-width: 94%;
}

.favorite:focus {
    outline: none;
    box-shadow: none;
}

.sidebar-content {
    background-color: rgba(18, 29, 49, 1);
    font-size: 14px;
}

.sidebar-content > * {
    padding: 4px 8px;
    background-color: rgba(21, 41, 76, 0.9);
    color: lightgray;
    margin: 12px 10px;
    border-radius: 3px;
}

.genres-title {
    margin-bottom: 10px;
}

.edit-button {
    position: absolute;
    right: 40px;
    top: 100px;
}

.delete-button {
    position: absolute;
    right: 40px;
    top: 140px;
}

#footer-class {
    background-color: rgba(0, 10, 37, 0.9);
    border-top: 0 !important;
}


.character-related {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    width: 1262px;
    margin: 0 auto;
    padding: 20px 20px;
}

.character-related-img {
    width: 200px;
    height: 300px;
}

.wrap-character-related {
    background-color: rgba(0, 10, 37, 0.9);
}

.toast {
    position: absolute;
    left: 200px;
    top: 480px;
    width: 140px;
    height: 29px;
    padding: 0;
    font-size: 13px;
    max-width: 140px;
}

.toast-body {
    background-color: black;
    color: whitesmoke;
    padding: 5px 5px;
}

.list-banner > * {
    padding: 2rem 2rem;
}

.list-banner > * h5, h6 {
    color: lightgray;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 0;
}

.list-banner:nth-child(even) {
    background-color: rgba(8, 18, 46, 0.9);
}

.list-banner:nth-child(odd) {
    background-color: rgba(0, 10, 37, 0.9);
}

a {
    color: whitesmoke;
    background: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.manage-profile {
    margin-left: 10%;
}


.anime-list-img {
    max-width: 100%;
}

.comments {
    justify-content: center;
    text-align: center;
}

.character-favorites-button {
    font-size: 2rem;
}
