*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /*border: 1px solid red !important;*/
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#nav-bar {
    background-color: rgba(29, 29, 54, .5)
}

.content {
    color: lightgrey;
    margin: 0% 12%;
}

.content-background {
    background-color: rgba(8, 18, 46, 0.9);
}


.left {
    background-color: #2ecc71;
    text-align: center;
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0px;
    width: 75%;
    overflow-y: scroll;
}

.span3 {
    height: 60px !important;
    overflow: scroll;
}
.panel-heading {
    display: block;
    max-block-size: 300px;
    overflow-y: scroll !important;
    text-overflow: clip;
}

.content-header {
    background-color: rgba(8, 18, 46, 0.9);
    width: 100%;
    min-height: 100%;
}

.all-animes, .manage-account-wrapper, .register-wrapper, .login-wrapper {
    min-height: 60vw;
    padding-top: 3rem;
}

.login-wrapper {
    min-height: 100vh;
}

.register-wrapper {
    min-height: 100vh;
}

.col-md-4 {
    margin-left: 420px; 
}

.all-anime-img {
    object-fit: cover;
    width: 92%;
    height: 82%;
    
}

/*Single Page details*/
.anime-details {
    display: grid;
    grid-template-columns: 19% 1fr;
    grid-gap: 2%;
    grid-template-rows: 345px 1fr 300px;
    padding-bottom: 25px;
}

.anime-container {
    padding-top: 1rem; 
}

.single-anime-cover {    
    margin-top: -130px;
}

.gutter-increase {
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 35px;
}

img {
    border-radius: 3px;
}

.single-anime-name {
    font-size: 1.7rem;
    font-weight: 600;
    margin-top: 1rem;
    letter-spacing: -0.5px;
    margin-left: 0;
}

.single-anime-sypnosis {
    font-size: 1rem;
}

.single-anime-alternative {
    font-size: 0.9rem;
    margin-bottom: 1.4rem;
    margin-left: 0;
}

.banner {
    min-width: 100%;
    margin-top: -5%;
}

.single-character-banner {
    width: 100%;
    height: 210px;
    border-radius: 0;
    margin-top: -60px;
    background-color: rgba(0, 10, 37, 0.9);
}

.single-character-wrapper {
    background-color: rgba(8, 18, 46, 0.9);
}

.single-character-details {
    font-size: 16px;
    margin: 40px 20px;
    font-style: normal;
}

.single-anime-title-sypnosis {
    
    padding: 10px 10px
}

#single-character-name {
    margin: 20px 20px;
}

.actions {
    display: grid;
    grid-template-columns: 70% 1fr;
    margin-top: 1rem;
    grid-gap: 1rem;
}

.add-list {
    background-color: #42a4f5;
    font-size: 14px;
    color: white;
}
.favorite {
    padding: 0;
    width: 30px;
    background-color: #ff4d4d;
    border-radius: 4px;
    color: black;
}
.favorite-icon {
    stroke: black;
    fill: #F0F8FF;
    width: 22px;
    height: 22px;
    padding-bottom: 3px;
}

.characters-title {
    display:inline-block;
    font-size: 18px;
    margin-left: 0px;
    margin-bottom: 17px;
    color: whitesmoke;
}

.characters {
    display: inline-block;
    padding: 15px 15px;
    border-radius: 3px;
    background-color: rgba(18, 29, 49, 1);
}

#character-name {
    color: lightgray;
}

.characters-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    row-gap: 15px;
}

.character {
    display: grid;
    
    grid-template-columns: 52px auto;
    background-color: rgba(21, 41, 76, 0.9)
    
}

.character-img {
    width: 52px;
    height: 72px;
}

#character-name {
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 2px;
}
.character-details {
    margin-left: 6px;
    color: darkgray;
}

.character-details a:hover {
    text-decoration: none;
}

.staff {
    font-size: 10px;
    margin-top: 20px;
    margin-left: 0;
}


.character-role {
    font-size: 10px;
    font-style: italic;
    margin-top: 2px;
}



.profile-header{
    display:grid;
    grid-template-columns: 240px 300px 1fr;
    gap: 30px;
}

.profile-picture-img {
    width: 240px;
    margin-top: -100px;
}

.profile-banner {
    width: 100%;
    height: 210px;
    border-radius: 0;
    margin-top: -60px;
    background-color: rgba(8, 18, 46, 0.9);
}

.profile-list-banner{
    background-color: 
}

.profile-shorcuts {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    margin-left: 300px;
    background-color: dimgray;
}

.anime-overview {
    display: flex;
    flex-direction: column;
}

.profile-anime-list-details {
    display: flex;
    font-size: 18px;
}

.latest-activities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 15px;
    column-gap: 20px;
}

.anime-activity {
    display: grid;
    grid-template-columns: 70px auto;
    gap: 10px;
}

.recommendations {
    color: lightgray;
    padding: 15px 15px;
    border-radius: 3px;
    background-color: rgba(18, 29, 49, 1);
}

.recommendations-title {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 17px;
    margin-left: 0px;
    color: whitesmoke;
}

.characters-recommendation {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 240px;
    grid-gap: 25px;
}

.anime-activity-img {
    width: 70px;
}

.add-list-dropdown {
    display: inline-block;
}

    .add-list-dropdown:hover .dropdown-content {
        display: block;
    }

.add-list-button {
    height: 30px;
    font-size: 16px;
    padding: 0;
    text-align: center;
    border-radius: 0;
    font-family: Arial;

}

.favorite:focus {
    outline: none;
    box-shadow: none;
}
/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.add-watching {
    font-size: 13px;
}

.add-completed {
    font-size: 13px;
}

.add-planning {
    font-size: 13px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    z-index: 1;
    position: absolute;
    font-size: 5px;
    background-color: black;
    min-width: 195px;
    padding: 0;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.sidebar-content {
    background-color: rgba(18, 29, 49, 1);
    font-size: 14px;
}

    .sidebar-content > * {
        padding: 4px 8px;
        background-color: rgba(21, 41, 76, 0.9);
        color: lightgray;
        margin: 17px 15px;
        border-radius: 3px;
    }

.recommendations-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 30px;
    
}

.reccomendation-anime-img {
    width: 115px;
    height: 160px;
}

.related-anime {
    margin-left: 22%;
    color: lightgray;
    margin-bottom: 1rem;
}

.genres-title {
    margin-bottom: 10px;
}

.edit-button {
    position: absolute;
    right: 40px;
    top: 100px;
}

.delete-button {
    position: absolute;
    right: 40px;
    top: 140px;
}

#footer-class {
    background-color: rgba(0, 10, 37, 0.9);
    border-top: 0 !important;
}


.character-related {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    width: 1262px;
    margin: 0 auto;
    padding: 20px 20px;
}

.character-related-img {
    width: 200px;
    height: 300px;
}

.wrap-character-related {
    background-color: rgba(0, 10, 37, 0.9);
}

.toast {
    position: absolute;
    left: 200px;
    top: 480px;
    width: 140px;
    height: 29px;
    padding: 0;
    font-size: 13px;
    max-width: 140px;
}

.toast-body {
    background-color: black;
    color: whitesmoke;
    padding: 5px 5px;
}

.list-banner > * {
    padding: 2rem 2rem;
}

    .list-banner > * h5, h6 {
        color: lightgray;
        text-align: center;
        margin-bottom: 20px;
        margin-left: 0;
    }

.list-banner:nth-child(even) {
    background-color: rgba(8, 18, 46, 0.9);
}

.list-banner:nth-child(odd) {
    background-color: rgba(0, 10, 37, 0.9);
}

.col-md-9 {
    padding-left: 120px;
}

a {
    color: whitesmoke !important;
    background: none;
}

a:hover {
    text-decoration: none;
}

    .manage-profile {
        margin-left: 10%;
    }



.anime-list-img {
    max-width: 100%;
}

.row {
    margin: 0 !important;
}

.comments {
    justify-content: center;
    text-align: center;
}

.character-favorites-button {
    font-size: 2rem;
}